In [1]:
import glob
import re
import zipfile
def run_cutadapt(report_path):
    """
    Extract adapter info from fastqc reports, and run cutadapt if the adapter content is not PASS.
    (not implemented yet)
    """
    all_zip = sorted(glob.glob(report_path+'/*.zip'))
    for z in all_zip:
        f_name = re.findall('reports/(.*)\.zip', z)[0]
        with zipfile.ZipFile(z, 'r') as zipObj:
            with zipObj.open(f_name+'/summary.txt') as f:
                adapter = f.readlines()[9]
                if adapter[:4] != b'PASS':
                    print(adapter[:4])
                    
report_path = "./data/tmp/reports/"
run_cutadapt(report_path)

In [1]:
import glob
input_path = "/datasets/srp073813/"
all_files = sorted(glob.glob(input_path + "/*.fastq.gz"))
all_files[134]

'/datasets/srp073813/SRR3438622_1.fastq.gz'

In [4]:
import pandas as pd
run_data = pd.read_csv('/datasets/srp073813/reference/SraRunTable.csv')
pd.set_option('display.max_columns', None)
run_data.head()

,Run,age_at_death,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,Brain_pH,brain_region,Bytes,Center Name,clinical_diagnosis,Consent,DATASTORE filetype,DATASTORE provider,DATASTORE region,ETHNICITY,Experiment,gender,GEO_Accession (exp),Instrument,LibraryLayout,LibrarySelection,LibrarySource,Organism,Platform,post-mortem_interval,ReleaseDate,Sample Name,source_name,SRA Study,TISSUE
0,SRR3438555,40,RNA-Seq,100,4177603300,PRJNA319583,SAMN04901133,6.76,AnCg,2585349730,GEO,Control,public,"fastq,sra","gs,ncbi,s3","gs.US,ncbi.public,s3.us-east-1",Caucasian,SRX1725699,male,GSM2132201,Illumina HiSeq 2000,PAIRED,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,12.25,2017-06-25T00:00:00Z,GSM2132201,AnCg_Control,SRP073813,brain
1,SRR3438556,58,RNA-Seq,100,4127971300,PRJNA319583,SAMN04901134,6.93,AnCg,2567182462,GEO,Major Depression,public,"fastq,sra","gs,ncbi,s3","gs.US,ncbi.public,s3.us-east-1",Caucasian,SRX1725700,male,GSM2132202,Illumina HiSeq 2000,PAIRED,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,24.00,2017-06-25T00:00:00Z,GSM2132202,AnCg_Major Depression,SRP073813,brain
2,SRR3438557,56,RNA-Seq,100,4323572800,PRJNA319583,SAMN04901135,6.83,AnCg,2690248610,GEO,Bipolar Disorder,public,"fastq,sra","gs,ncbi,s3","gs.US,ncbi.public,s3.us-east-1",Caucasian,SRX1725701,female,GSM2132203,Illumina HiSeq 2000,PAIRED,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,29.00,2017-06-25T00:00:00Z,GSM2132203,AnCg_Bipolar Disorder,SRP073813,brain
3,SRR3438558,49,RNA-Seq,100,3092070200,PRJNA319583,SAMN04901136,7.19,AnCg,1915194552,GEO,Major Depression,public,"fastq,sra","gs,ncbi,s3","gs.US,ncbi.public,s3.us-east-1",Caucasian,SRX1725702,male,GSM2132204,Illumina HiSeq 2000,PAIRED,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,27.00,2017-06-25T00:00:00Z,GSM2132204,AnCg_Major Depression,SRP073813,brain
4,SRR3438559,31,RNA-Seq,100,5353395700,PRJNA319583,SAMN04901137,6.77,nAcc,3468863373,GEO,Schizophrenia,public,"fastq,sra","gs,ncbi,s3","gs.US,ncbi.public,s3.us-east-1",Caucasian,SRX1725703,female,GSM2132205,Illumina HiSeq 2000,PAIRED,cDNA,TRANSCRIPTOMIC,Homo sapiens,ILLUMINA,22.00,2017-06-25T00:00:00Z,GSM2132205,nAcc_Schizophrenia,SRP073813,brain

In [5]:
samples = run_data
samples.clinical_diagnosis.value_counts()

Major Depression    94
Bipolar Disorder    87
Control             87
Schizophrenia       84
Name: clinical_diagnosis, dtype: int64

In [17]:
run_data.shape

(352, 32)

In [6]:
samples.source_name.value_counts()

nAcc_Major Depression     33
DLPFC_Major Depression    31
nAcc_Bipolar Disorder     31
DLPFC_Control             30
AnCg_Control              30
AnCg_Major Depression     30
DLPFC_Schizophrenia       29
AnCg_Bipolar Disorder     28
DLPFC_Bipolar Disorder    28
AnCg_Schizophrenia        28
nAcc_Control              27
nAcc_Schizophrenia        27
Name: source_name, dtype: int64

In [1]:
import os
import glob
import re
import pandas as pd
quant_path = './data/tmp/quant/'
all_tsv = glob.glob('%s*/*.tsv' %quant_path)
df_li = []
for f in all_tsv:
    df_name = re.findall('quant/(.*)/abundance.tsv', f)[0]
    df = pd.read_csv(f, sep="\t", usecols = ['target_id','est_counts'], index_col = 'target_id')
    df = df.rename(columns={'est_counts': df_name})
    df_li.append(df)
    
    
all_cnts = pd.concat(df_li, axis=1)
gene_naming = pd.read_csv('/datasets/srp073813/reference/Gene_Naming.csv')
non_xy = gene_naming[~gene_naming.chr.isin(['chrX', 'chrY'])].refseq
cleaned_cnts = all_cnts[all_cnts.index.isin(non_xy)]

In [2]:
xy_seq = gene_naming[gene_naming.chr.isin(['chrX', 'chrY'])].refseq
cleaned_cnts[cleaned_cnts.index.isin(xy_seq_seq)]

Empty DataFrame
Columns: [SRR3438595, SRR3438851, SRR3438826, SRR3438571, SRR3438708, SRR3438672, SRR3438605, SRR3438791, SRR3438696, SRR3438702, SRR3438775, SRR3438678, SRR3438869, SRR3438887, SRR3438814, SRR3438863, SRR3438637, SRR3438640, SRR3438747, SRR3438730, SRR3438562, SRR3438842, SRR3438835, SRR3438568, SRR3438586, SRR3438848, SRR3438788, SRR3438685, SRR3438711, SRR3438766, SRR3438661, SRR3438616, SRR3438782, SRR3438807, SRR3438870, SRR3438900, SRR3438894, SRR3438659, SRR3438754, SRR3438723, SRR3438624, SRR3438653, SRR3438729, SRR3438724, SRR3438753, SRR3438629, SRR3438759, SRR3438654, SRR3438623, SRR3438877, SRR3438800, SRR3438899, SRR3438557, SRR3438893, SRR3438761, SRR3438716, SRR3438682, SRR3438688, SRR3438785, SRR3438611, SRR3438666, SRR3438832, SRR3438845, SRR3438565, SRR3438581, SRR3438838, SRR3438647, SRR3438630, SRR3438737, SRR3438740, SRR3438880, SRR3438819, SRR3438864, SRR3438813, SRR3438796, SRR3438602, SRR3438675, SRR3438778, SRR3438608, SRR3438772, SRR3438705, SRR3438691, SRR3438592, SRR3438576, SRR3438821, SRR3438856, SRR3438598, SRR3438776, SRR3438695, SRR3438701, SRR3438798, SRR3438606, SRR3438792, SRR3438671, SRR3438825, SRR3438852, SRR3438572, SRR3438858, SRR3438596, SRR3438578, ...]
Index: []

[0 rows x 349 columns]

In [3]:
cleaned_cnts.shape

(17165, 349)

In [2]:
tmp_path= "./data/tmp/"
cleaned_cnts.to_csv('%sgene_matrix.csv'%tmp_path)

In [3]:
import os
import glob
quant_path = './data/tmp/quant/'
all_tsv = glob.glob('%s*/*.tsv' %quant_path)

In [4]:
df_li = []
for f in all_tsv:
    df_name = re.findall('quant/(.*)/abundance.tsv', f)[0]
    df = pd.read_csv(f, sep="\t", usecols = ['target_id','est_counts'], index_col = 'target_id')
    df = df.rename(columns={'est_counts': df_name})
    df_li.append(df)
    
    
all_cnts = pd.concat(df_li, axis=1)
all_cnts

,SRR3438595,SRR3438851,SRR3438826,SRR3438571,SRR3438708,SRR3438672,SRR3438605,SRR3438791,SRR3438696,SRR3438702,...,SRR3438573,SRR3438738,SRR3438635,SRR3438642,SRR3438745,SRR3438732,SRR3438648,SRR3438885,SRR3438816,SRR3438861
target_id,,,,,,,,,,,,,,,,,,,,,
NM_000014.6,2102.10000,8436.1100,5261.6400,2559.45000,0.0,3419.280000,4650.42000,1912.970000,5854.5300,2.049620e+03,...,1017.60000,19639.400000,3496.200000,5115.80000,10353.900000,3807.280000,2.030840e+03,8453.0300,10219.2000,17487.900000
NM_000015.3,0.00000,5.0000,2.0000,1.00000,0.0,2.000000,0.00000,4.000000,3.0000,2.000000e+00,...,0.00000,15.000000,3.000000,2.00000,8.000000,5.000000,3.000000e+00,1.0000,3.0000,1.000000
NM_000016.6,220.51600,621.9510,1005.3300,212.99400,0.0,381.738000,318.43700,692.861000,559.5140,2.276100e+02,...,109.20400,1399.580000,432.915000,584.62000,1161.830000,993.786000,5.042350e+02,709.0890,980.6560,1290.490000
NM_000017.4,209.71800,694.9050,603.5310,269.21300,0.0,396.849000,165.24700,479.439000,188.2180,2.361530e+02,...,203.45600,480.000000,533.515000,419.19400,630.013000,631.479000,2.452720e+02,188.0930,479.8680,341.758000
NM_000018.4,1880.63000,5649.1100,6829.3200,2629.02000,0.0,4111.450000,2098.11000,3915.640000,2857.6200,1.542730e+03,...,1905.09000,5211.670000,2315.410000,3401.72000,4704.570000,5355.840000,1.768710e+03,3424.6200,5513.1800,5808.110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NR_170930.1,17.04900,55.1957,15.0896,0.00000,0.0,0.000003,0.00000,0.214767,21.2432,0.000000e+00,...,0.00000,43.097600,42.870300,13.74320,46.676900,0.001316,4.854960e-08,38.8738,0.0000,0.000764
NR_170931.1,4.32169,0.0000,36.9884,0.00000,0.0,38.669400,13.07510,17.525500,24.9928,1.160680e-07,...,6.55215,0.000026,0.147338,40.62200,0.138453,28.106100,2.115460e+01,19.8749,66.5258,50.256900
NR_170932.1,23.79540,126.8640,154.0150,27.40630,0.0,127.207000,20.74230,79.598400,54.0822,3.013460e+01,...,43.17090,124.052000,30.472700,6.50433,116.460000,118.574000,2.068730e+01,65.0913,95.1433,112.937000
NR_170933.1,11.28840,26.0694,28.0864,3.90551,0.0,21.695100,7.86993,19.998200,14.7697,1.809400e+00,...,3.89834,29.540200,9.972230,27.76520,21.615000,18.140500,1.138950e+01,11.1133,31.4655,31.139900
NR_170934.1,0.00000,0.0000,0.0000,0.00000,0.0,0.000000,0.00000,0.000000,0.0000,7.941960e+00,...,0.00000,0.000000,0.000000,0.00000,0.000000,5.711530,1.216510e+01,0.0000,0.0000,0.322379

In [5]:
gene_naming = pd.read_csv('/datasets/srp073813/reference/Gene_Naming.csv')

In [6]:
non_xy = gene_naming[~gene_naming.chr.isin(['chrX', 'chrY'])].refseq

In [7]:
all_cnts[all_cnts.index.isin(non_xy)]

,SRR3438595,SRR3438851,SRR3438826,SRR3438571,SRR3438708,SRR3438672,SRR3438605,SRR3438791,SRR3438696,SRR3438702,...,SRR3438573,SRR3438738,SRR3438635,SRR3438642,SRR3438745,SRR3438732,SRR3438648,SRR3438885,SRR3438816,SRR3438861
target_id,,,,,,,,,,,,,,,,,,,,,
NM_000014.6,2102.100000,8436.11000,5261.6400,2559.45000,0.0,3419.280000,4650.420000,1912.97000,5854.530000,2049.620000,...,1017.600000,19639.40000,3496.20000,5115.8000,10353.900000,3807.28000,2030.84000,8453.030000,10219.200000,17487.900000
NM_000015.3,0.000000,5.00000,2.0000,1.00000,0.0,2.000000,0.000000,4.00000,3.000000,2.000000,...,0.000000,15.00000,3.00000,2.0000,8.000000,5.00000,3.00000,1.000000,3.000000,1.000000
NM_000016.6,220.516000,621.95100,1005.3300,212.99400,0.0,381.738000,318.437000,692.86100,559.514000,227.610000,...,109.204000,1399.58000,432.91500,584.6200,1161.830000,993.78600,504.23500,709.089000,980.656000,1290.490000
NM_000017.4,209.718000,694.90500,603.5310,269.21300,0.0,396.849000,165.247000,479.43900,188.218000,236.153000,...,203.456000,480.00000,533.51500,419.1940,630.013000,631.47900,245.27200,188.093000,479.868000,341.758000
NM_000018.4,1880.630000,5649.11000,6829.3200,2629.02000,0.0,4111.450000,2098.110000,3915.64000,2857.620000,1542.730000,...,1905.090000,5211.67000,2315.41000,3401.7200,4704.570000,5355.84000,1768.71000,3424.620000,5513.180000,5808.110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NM_214710.5,0.009122,0.00000,0.0000,0.00000,0.0,0.009318,0.018113,0.00000,0.003453,0.000000,...,0.013507,0.00000,0.00000,0.0000,0.017612,3.00000,0.00000,0.013969,0.007023,0.002216
NM_214711.4,11.260600,70.53690,105.0620,15.24970,0.0,105.840000,11.196000,37.15350,41.429500,15.440600,...,14.423400,73.63170,19.17010,18.4865,64.628400,71.94800,15.81640,41.807000,64.080200,50.827300
NR_037652.2,7.450550,6.29093,10.7018,4.16646,0.0,13.923600,12.429300,13.32890,8.506480,0.000000,...,8.662140,14.59300,5.74129,11.3273,19.413600,5.31239,7.83305,3.725040,18.625300,18.308600
NR_159880.1,0.000000,0.00000,0.0000,0.00000,0.0,3.000000,0.000000,0.00000,1.000000,0.000000,...,0.000000,4.00000,0.00000,0.0000,0.000000,1.00000,0.00000,0.000000,0.000000,0.000000
NR_166678.1,32.296500,0.00000,0.0000,21.17870,0.0,0.000000,13.268000,6.51515,0.000150,0.000002,...,0.000000,7.93287,0.00000,0.0000,6.133350,0.00000,0.00000,60.937200,0.000000,0.000000

In [ ]:
pd.read_csv('%sgene_matrix.csv'%tmp_path)